[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "==0.10.0"
cffi = "==1.9.1"
click = "==6.6"
dateparser = "==0.6.0"
itsdangerous = "==0.24"
misaka = "==2.0.0"
mistune = "==0.7.3"
pycparser = "==2.17"
python-dateutil = "==2.6.0"
pytz = "==2017.2"
regex = "==2017.6.7"
"ruamel.yaml" = "==0.15.9"
six = "==1.10.0"
tornado = "==4.5.1"
tzlocal = "==1.4"
Markdown = "==2.6.6"
MarkupSafe = "==0.23"
Pigments = "==1.6"
Werkzeug = "==0.11.10"
flask = "*"

[dev-packages]
