#boss-btn { position: absolute; left: 50%; top: 50%; }

#boss-btn { cursor: pointer; padding: 10px 35px 16px 0px; }
#boss-btn span, #boss-btn span:before, #boss-btn span:after {
  cursor: pointer;
  border-radius: 2px;
  height: 5px;
  width: 30px;
  background: rgba(0,0,255,0.6);
  position: absolute;
  display: block; 
  content: '';
}
#boss-btn span:before {
  top: -10px; 
}
#boss-btn span:after {
  bottom: -10px;
}

#boss-btn span, #boss-btn span:before, #boss-btn span:after {
  transition: all 500ms ease-in-out;
}
#boss-btn.active span {
  background-color: transparent;
}
#boss-btn.active span:before, #boss-btn.active span:after {
  top: 0;
}
#boss-btn.active span:before {
  transform: rotate(45deg);
}
#boss-btn.active span:after {
  transform: rotate(-45deg);
}
