$mobile-width: 300px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
      @content;
    }
  }

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin predesktop {
    @media (max-width: #{$desktop-width}) {
      @content;
    }
  }

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}