@import "normalize";
@import "fonts";
@import "theme";
@import "button";
@import "media-queries";

html {
    font-size: $regularSize;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    margin: 0 auto;

    ::-webkit-scrollbar {
        background: rgba($primary, 0.1);
        border-radius: 4px;
        height: 10px;
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background:rgba($primary, 0.3);
    }

    * {
        outline: 0;
        text-decoration: none;
    }

    ol {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

// /* This example begins from 320px | 20em  to  30px @ 1920px */
// @media (min-width: 20em) {
//     :root {
//         font-size: calc(0.8rem + ((1vw - .2em) / 1.37142857));
//     }
// }

// /* 1rem(16px) @ 48em(768px) increasing to 2rem(32px) @ 120em(1920px) */
// @media (min-width: 48em) {
//     :root {
//         font-size: calc(0.8rem + ((1vw - 0.48rem) * 1.3889));
//         /* Where: * 1.3889 = 100 * font_Size_Difference / viewport_Width_Difference */
//     }
// }
// /* Prevent font scaling beyond this breakpoint */
// @media (min-width: 120em) {
//     :root {
//         font-size: 2em;
//     }
// }

body {
    display: grid;
    min-height: 100%;
    grid-template-columns: minmax(10%, max-content) auto  minmax(10%, max-content);
    grid-template-rows: max-content auto minmax(10%, max-content);
    grid-gap: 1em;
    grid-template-areas: 
    "header header header"
    ". container ."
    "footer footer footer";
}

// Header
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-areas: 
    "logo . navbar";
    margin: 1.5 * $spaceUnit;
}

.logo {
    grid-area: logo;
    text-transform: uppercase;
    font-family: $headerFont;
    font-size: $baseSize;
    letter-spacing: 1.1px;
    cursor: pointer;
    padding: 0.25 * $spaceUnit 0.5 * $spaceUnit;
    border-left: 8px solid rgba($primary, 0.75);
}

.navbar {
    grid-area: navbar;
    font-family: $headerFont;
    font-size: $smallSize;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    place-self: center;
    ol {
        display: inline-flex;
        li {}
    }
}

.navitem {
    color: $black;
    padding:  0.4 * $spaceUnit 1 * $spaceUnit;
    &:hover {
        color: white;
        background-color: rgba($primary, 0.95);
        border-radius: 2px;
        transition: opacity 300ms cubic-bezier(.694,0,.335,1),
            background-color 300ms cubic-bezier(.694,0,.335,1),
            color 300ms cubic-bezier(.694,0,.335,1);
    }
}

// Footer
.footer {
    text-align: center;
    grid-area: footer;
    font-family: $headerFont;
    font-size: $regularSize;
    color: $primary;

    .emoji {
        font-size: 2 * $regularSize;
    }
}

// Content
.container {
    grid-area: container;
    max-width: 1440px;
    margin: 0 auto;
}

.post {
    margin-bottom: 1.5 * $spaceUnit;
}

.post-year {
    margin-bottom: 1.5 * $spaceUnit;
    font-family: $headerFont;
    letter-spacing: 1.2px;
    font-size: $baseSize;
    color: $black;
    span {
        background-color: rgba($primary, 0.95);
        color: $white;
        padding: 0.2em 0.5em;
    }
}

.post-title {
    font-family: $headerFont;
    font-size: $regularSize;
    font-weight: 400;
    color: $primary;
}

.post-title-single {
    font-family: $headerFont;
    font-size: 1.5 * $bigSize;
    font-weight: 400;
    color: $primary;
}

.post-metadata {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-areas: 
        "post-date post-tags";
    margin-top: 0.3 * $spaceUnit;
    font-family: $metaFont;
    font-size: $smallSize;
    color: $black;
}

.post-date {
    grid-area: post-date;
    margin-right: 0.5 * $spaceUnit;
}

.post-tags {
    grid-area: post-tags;
    .post-tag {
        font-size: 0.9 * $smallSize;
        padding: 0.2 * $spaceUnit 0.4 * $spaceUnit;
        margin: 0 0.3 * $spaceUnit;
        border-radius: 2px;
        color: $black;
        background-color: rgba($primary, 0.2);
    }
}

.post-content {
    margin-top: 3 * $spaceUnit;
    font-family: $baseFonts;
    font-size: $baseSize;
    line-height: 1.35 * $baseSize;
    color: $primary;

    img {
        margin: 0 auto;
        text-align: center;
        display: flex;
        cursor: pointer;
    }

    pre {
        border: 2px solid rgba($primary, 0.1);
        border-radius: 3px;
        padding: 0.5 * $spaceUnit;
        background-color: rgba($primary, 0.05);
        color: $primary;

        code {
            font-size: $smallSize;
            background-color: unset;
            color: $primary;
        }
    }

    code {
        color: $primary;
        padding: 3px 5px;
        background-color: rgba($green, 0.15);
        border-radius: 3px;
        font-size: $smallSize;
        place-content: center;
    }

    a {
        color: $primary;
        text-decoration: underline;
        text-underline-position: auto;
        padding: 0px 2px;
        &:hover, &:focus {
            color: $white;
            text-decoration: none;
            background-color: rgba($primary, 0.95);
            border-radius: 2px;
            transition: opacity 300ms cubic-bezier(.694,0,.335,1),
                background-color 300ms cubic-bezier(.694,0,.335,1),
                color 300ms cubic-bezier(.694,0,.335,1);
        }
    }

    p {
        font-family: $baseFonts;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: $headerFont;
        font-weight: 400;
        padding: 0px 8px;
        border-left: 8px solid rgba($primary, 0.95);
        color: $primary;
    }
    h1 {
        font-size: 1.2 * $regularSize;
    }

    h2 {
        font-size: 1.15 * $regularSize;
    }

     h3 {
        font-size: 1.1 * $regularSize;
     }

     h4 {
        font-size: 1.05 * $regularSize;
     }

     strong {
        font-family: $headerFont;
        padding: 3px 8px;
        background-color: rgba($primary, 0.85);
        border-radius: 3px;
        color: $white;
     }
}