
// Colors
$grey: #555555;
$black: #212121;
$lightBlack: #424242;
$blue: #3185FC;
$white: #FFFFFF;
$red: #F44336;
$green: #90EE90;
$lightGreen: #E8F3EC;

$primary: $black;
$secondary: $blue;

// Fonts
$baseFonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headerFont: 'Quicksand', $baseFonts;
$metaFont: 'Lato', $baseFonts;
$monospaceFont: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

$baseSize: 1rem;
$bigSize: 1.5rem;
$regularSize:  1.2rem; 
$smallSize: 0.8rem;

// Spacing
$spaceUnit: 1rem;