
// Colors
$grey: #555555;
$black: #212121;
$lightBlack: #424242;
$blue: #3185FC;
$white: #FFFFFF;
$lightGreen: #E8F3EC;

$primary: $black;
$secondary: $blue;

// Fonts
$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$bigSize: 1.6rem;
$regularSize: 1.2rem;
$smallSize: 0.9rem;

// Spacing
$spaceUnit: 15px;