{% extends "base.html" %}
{% block content %}
<div id="aboutme">
	<div id="aboutme-intro">
	<p>
	I'm Snehesh Thalapaneni, a full stack developer living in New York City. While I was doing my undergrad in Electronics, I developed keen interest in computers and I started to teach my self C and then Python. After my bachelors I moved to US and got my master's degree in Computer Engineering. Fast forward, I'm living in New York and working as a generalistic software developer.
	</p>
	<p>
	My interests align with product development, system architecture, IoT, general machine learning, infosec and online privacy. I spend most of my free time turning my ideas into side projects. Apart from the technical aspects of software development, I'm interested in product management, User Interfaces and Robotics.
	</p>
	<p>
	One of most interesting projects I worked on is for my bachelor's thesis, Along with Deepak Muppiri I built a road scanner to map irregularities on indian roads such as speed breakers, path holes, dangerous curves etc. using an array of sensors and then map the data onto Google Maps with ~ 1 meter resolution. Thus the data can be integrated into the navigation software to alert drivers about possible dangers up ahead and this data can also be used by the Govt. to prioritize fixing the roads.
	</p>
	<p>
	Check out my github profile for my side projects, and feel free to use then in anyway you see fit. If you wish to connect, drop an email at <a href="mailto:mail@snehesh.me" target="_blank"> mail@snehesh.me </a> , I'll reply back.</p>
	</div>
	<div id="aboutme-icons">
	<br>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<div id="aboutme-firstline">
					<a href="https://github.com/snehesht" target="_blank">Github</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-2">
				<div id="aboutme-firstline">
					<a href="https://keybase.io/snehesh" target="_blank">Keybase</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div id="aboutme-firstline">
					<a href="https://news.ycombinator.com/user?id=snehesht" target="_blank">Hacker News</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-2">
				<div id="aboutme-secondline">
					<a href="https://twitter.com/snehesht" target="_blank">Twitter</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-2">
				<div id="aboutme-secondline">
					<a href="mailto:mail@snehesh.me" target="_blank">Email</a>
				</div>
			</div>
		</div>
		<br>
	</div>
</div>
{% endblock %}



