{% extends "base.html" %}

{% block title %}
    About Me -
{% endblock %}

{% block container %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/brands.css" integrity="sha384-VGCZwiSnlHXYDojsRqeMn3IVvdzTx5JEuHgqZ3bYLCLUBV8rvihHApoA1Aso2TZA" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css" integrity="sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV" crossorigin="anonymous">

<div class="container">
    <div class="aboutme">
        <div class="profile">
            <div class="profile-img">
                <img src="{{ url_for('static',filename='images/snehesh_sq.jpg') }}" alt="Snehesh Thalapaneni" width='300'>
            </div>
            <ol class="accounts">
                <div class="account">
                    <a href="https://twitter.com/snehesht" target="_blank">
                        <!-- <img src="{{ url_for('static', filename='images/twitter.png') }}" alt=""> -->
                        <i class="fab fa-twitter"></i>
                        <span>Twitter</span>
                    </a>
                </div>
                <div class="account">
                        <a href="https://github.com/snehesht" target="_blank">
                            <!-- <img src="{{ url_for('static', filename='images/github.png') }}" alt=""> -->
                            <i class="fab fa-github"></i>
                            <span>Github</span>
                        </a>
                </div>
                <div class="account">
                        <a href="https://www.linkedin.com/in/snehesht" target="_blank">
                            <!-- <img src="{{ url_for('static', filename='images/linkedin.png') }}" alt=""> -->
                            <i class="fab fa-linkedin"></i>
                            <span>Linked In</span>
                        </a>
                </div>
                <div class="account">
                        <a href="https://keybase.io/snehesh" target="_blank">
                            <!-- <img src="{{ url_for('static', filename='images/github.png') }}" alt=""> -->
                            <i class="fab fa-keybase"></i>
                            <span>Keybase</span>
                        </a>
                </div>
            </ol>
        </div>
        <div class="bio">
            {{ content|safe }}
        </div>
    </div>
</div>
{% endblock %}