{% extends "base.html" %}
{% block content %}
<div id="aboutme">
	<div id="aboutme-intro">
		<p>
			My name is Snehesh Thalapaneni, I'm a Full Stack Developer living in New York City, I love to build stuff during my free time in Python and React. Apart my professional interests as a full stack developer, I'm interested in privacy, security, IoT, artificial intelligence and Entrepreneurship.
		</p>
		<p>
			I'm graduating from University of Cincinnati in December 2016 with a masters degree in Computer Engineering. I graduated with a bachelors degree in Electronics and Communication Engineering from VIT University.
		</p>
		<p>
			If you would like to talk to me or if you have any questions regarding my projects, please feel free to contact me <a href="mailto:mail@snehesh.me">mail@snehesh.me</a>
		</p>
	</div>
	<div id="aboutme-icons">
	<br>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<div id="aboutme-firstline">
					<a href="https://github.com/snehesht" target="_blank">Github</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-2">
				<div id="aboutme-firstline">
					<a href="https://keybase.io/snehesh" target="_blank">Keybase</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div id="aboutme-firstline">
					<a href="https://news.ycombinator.com/user?id=snehesht" target="_blank">Hacker News</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-2">
				<div id="aboutme-secondline">
					<a href="https://twitter.com/snehesht" target="_blank">Twitter</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-2">
				<div id="aboutme-secondline">
					<a href="mailto:mail@snehesh.me" target="_blank">Email</a>
				</div>
			</div>
		</div>
		<br>
	</div>
</div>
{% endblock %}



