{% extends "base.html" %}
{% block title %}
    Blog -
{% endblock %}
{% block bodycontent %}
<div class="blogcontainer">

    {% for post in content|reverse %}
    <div class="title-url">
        <a href=" {{ url_for('blog_post',url_slug=post.url) }}">{{ post.title }}</a>
    </div>
    <div class="metadata">
        <ol>
            <li>By <a href=" {{ url_for('about_page') }}">{{ post.author }}</a>&nbsp;</li>
            <li>on {{ post.date }},&nbsp; </li>
            <li>Filed under {% for tag in post.tags %} <a href="">{{ tag }}&nbsp;</a>{% endfor %}</li>
        </ol>
    </div>
    {% endfor %}

</div>
{% endblock %}
{% block footer %}


{% endblock %}
