{% extends "base.html" %}
{% block bodycontent %}
<div class="blogcontainer">
    <div class="row">
        <div class="title col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{ metadata.title }}
            <!-- <a href="{{ url_for('blog_post',url_slug=metadata.url) }}">{{ metadata.title }}</a> -->
        </div>
        <div class="metadata metadata-blogpost col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol>
                <li>By <a href=" {{ url_for('about_page') }}">{{ metadata.author }}</a>&nbsp;</li>
                <li>on {{ metadata.date }},&nbsp; </li>
                <li>Filed under {% for tag in metadata.tags %} <a href="">{{ tag }}&nbsp;</a>{% endfor %}</li>
            </ol>
        </div>
        <div class="content" target="_blank">
            {{ content }}
        </div>
    </div>
</div>
{% endblock %}
