{% block header %}
<div class="header">
    <div class="logo" onClick="window.location='/'">
        Snehesh <br> Thalapaneni
    </div>

    <div class="navbar-wrapper">
        <div class="navbarmenu">
                    <img alt="Menu" height="24" width="24" src="data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJiYXJzIiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtYmFycyBmYS13LTE0IiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQ0OCA1MTIiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTE2IDEzMmg0MTZjOC44MzcgMCAxNi03LjE2MyAxNi0xNlY3NmMwLTguODM3LTcuMTYzLTE2LTE2LTE2SDE2QzcuMTYzIDYwIDAgNjcuMTYzIDAgNzZ2NDBjMCA4LjgzNyA3LjE2MyAxNiAxNiAxNnptMCAxNjBoNDE2YzguODM3IDAgMTYtNy4xNjMgMTYtMTZ2LTQwYzAtOC44MzctNy4xNjMtMTYtMTYtMTZIMTZjLTguODM3IDAtMTYgNy4xNjMtMTYgMTZ2NDBjMCA4LjgzNyA3LjE2MyAxNiAxNiAxNnptMCAxNjBoNDE2YzguODM3IDAgMTYtNy4xNjMgMTYtMTZ2LTQwYzAtOC44MzctNy4xNjMtMTYtMTYtMTZIMTZjLTguODM3IDAtMTYgNy4xNjMtMTYgMTZ2NDBjMCA4LjgzNyA3LjE2MyAxNiAxNiAxNnoiPjwvcGF0aD48L3N2Zz4=" onclick="toggleNavbar();"/>
            </div>
            <div class="navbar">
                <ol>
                    <li>
                        <a class="navitem" href="/blog"> blog </a>
                    </li>
                    <li>
                        <a class="navitem" href="/projects"> Projects </a>
                    </li>
                    <li>
                        <a class="navitem" href="/about"> About Me </a>
                    </li>
                    <li>
                        <a class="navitem" href="/resume"> Resume </a>
                    </li>
                    <li>
                        <a class="navitem" href="https://github.com/snehesht"> Github </a>
                    </li>
                </ol>
            </div>
    </div>
</div>
{% endblock %}