{% extends "base.html" %}
{% block title %}
    {{ metadata.title }} -
{% endblock %}

{% block container %}
<div class="container">
    <a class="post-title-single" href="">{{ metadata.title }}</a>
    <div class="post-metadata">
        <div class="post-date">
            {{ metadata.date }}
        </div>
        <div class="post-tags">
                <span>Filed under </span>{% for tag in metadata.tags %} <a class="post-tag" href="">{{ tag }}</a>{% endfor %}
        </div>
    </div>
    <div class="post-content">
        {{ content|safe }}
    </div>
</div>
{% endblock %}