{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block container %}
<div class="container">
    {% set current_year = content[-1]['year'] %}

    {% for post in content|sort(attribute='year')|reverse %}
    {% if current_year != post.year %}
        {% set current_year = post.year %}
        <div class="post-year">
            <span>{{ post.year }}</span>
        </div>
    {% endif %}

    <div class="post">
        <a class="post-title" href=" {{ url_for('blog_post',url_slug=post.url) }}">{{ post.title }}</a>
        <div class="post-metadata">
            <div class="post-date">
                {{ post.date }}
            </div>
            <div class="post-tags">
                    <span>Filed under </span>{% for tag in post.tags %} <a class="post-tag" href="">{{ tag }}</a>{% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}